@model MagicVilla_Web.Models.DTO.VillaDTO

@{
    ViewData["Title"] = "Details";
}

<div class="container p-4 border">
    <div class="row pb-3">
        <a asp-action="Index">Back</a>
    </div>
   
    <div class="row pb-2">
        <div class="col-4">
            @Html.ActionLink("Edit", "Update", new { controller = "Villa", id = Model.Id }, new { @class = "btn btn-outline-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { controller = "Villa", id = Model.Id }, new { @class = "btn btn-outline-danger" })
        </div>
        <div class="col-8 text-end pt-1">
            <h2 class="text-primary">Villa Details</h2>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Vill Id
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Details)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Details)
                        </dd>
                        <dt class="col-sm-2">
                            Price
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Rate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Sqft)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Sqft)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Occupancy)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Occupancy)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImageUrl)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ImageUrl)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Amenity)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Amenity)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedDateTime)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CreatedDateTime)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UpdatedDateTime)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UpdatedDateTime)
                        </dd>
                    </dl>
                </td>
            </tr>
        </tbody>
    </table>
</div>
